{
	"presets": [
		[
			"@babel/preset-env",
			{
				"exclude": [
					"transform-async-to-generator",
					"transform-regenerator",
					"transform-for-of"
				]
			}
		]
	],
	"plugins": [
		[
			"module:fast-async",
			{
				"compiler": {
					"promises": true,
					"generators": false
				},
				"runtimePattern": null,
				"useRuntimeModule": false
			}
		],
		["@babel/plugin-transform-for-of", { "assumeArray": true }],
		"@babel/plugin-proposal-class-properties"
	]
}
