@import url(https://unpkg.com/modern-normalize@3.0.1/modern-normalize.css);

:root {
	--background-color: #fff;
	--text-color: #000;
	--link-color: rgb(0, 122, 255);
	--content-font-size: 0.8rem;
	--content-font-weight: 400;
}

html {
	position: relative;
	min-width: 100dvw;
	min-height: 100dvh;
}

body {
	position: absolute;
	top: 50%;
	left: 50%;
	display: grid;
	grid-template-columns: repeat(2, auto);
	align-items: center;
	transform: translate(-50%, -50%);
	width: min-content;
	white-space: nowrap;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	letter-spacing: -1px;
	color: var(--text-color);
	background-color: var(--background-color);
}

h1 {
	grid-row: 1;
	grid-column: 1 / -1;
	margin: 0 0 8px 0;
}

h2 {
	grid-row: 2;
	grid-column: 1;
	margin: 0;
	font-size: 1rem;
	font-weight: var(--content-font-weight);
}

h3 {
	grid-row: 3;
	grid-column: 1;
	margin: 0;
	font-size: var(--content-font-size);
	font-weight: var(--content-font-weight);
}

a {
	grid-column: 2;
	text-align: right;
	font-size: var(--content-font-size);
	color: var(--link-color);
	text-decoration: none;
}

a:hover,
a:focus-visible {
	text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #fff;
		--background-color: #000;
		--link-color: rgb(10, 132, 255);
	}
}
