doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		
		//- Theme Color for Chrome, Firefox OS and Opera
		meta(name="theme-color" content="#333333")
		
		//- Short description of the document (limit to 150 characters)
		//- This content *may* be used as a part of search engine results.
		meta(name="description" content="Spencer Berenson's personal/portfolio website.")
		
		//- Control the behavior of search engine crawling and indexing
		meta(name="robots" content="index,follow")
		meta(name="googlebot" content="index,follow")
		
		//- Tells Google not to show the sitelinks search box
		meta(name="google" content="nositelinkssearchbox")
		
		//- Short description of your document"s subject
		meta(name="subject" content="Spencer Berenson")
		
		//- Gives a general age rating based on the document's content
		meta(name="rating" content="General")
		
		//- Allows control over how referrer information is passed
		meta(name="referrer" content="no-referrer")
		
		//- Disable automatic detection and formatting of possible phone numbers
		meta(name="format-detection" content="telephone=no")
		
		//- Disable automatic detection and formatting of possible phone numbers by Skype Toolbar browser extension
		meta(name="skype_toolbar" content="skype_toolbar_parser_compatible")
		title Spencer Berenson
body
	block body