@keyframes slide {
	0% {
		transform: translateY(-1rem);
	}

	100% {
		visibility: visible;
		opacity: 1;
		transform: scaleY(1rem);
	}
}

%slide {
	visibility: hidden;
	opacity: 0;
	transform: translateY(0);
	animation: slide 1.5s forwards;
}