@font-face {
	font-family: "Iosevka";
	font-weight: 900;
	src: url("../fonts/iosevka-heavy.woff") format("woff"),
			url("../fonts/iosevka-heavy.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka";
	font-weight: 400;
	src: url("../fonts/iosevka-regular.woff") format("woff"),
			url("../fonts/iosevka-regular.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka";
	font-weight: 200;
	src: url("../fonts/iosevka-extralight.woff") format("woff"),
			url("../fonts/iosevka-extralight.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka";
	font-weight: 200;
	font-style: italic;
	src: url("../fonts/iosevka-extralightitalic.woff") format("woff"),
			url("../fonts/iosevka-extralightitalic.woff2") format("woff2");
}