@font-face {
	font-family: "Roboto Slab";
	font-weight: 300;
	font-style: normal;

	src: url("../fonts/RobotoSlab-Light.eot");
	src: local("Roboto Slab Light"), local("RobotoSlab-Light"),
		url("../fonts/RobotoSlab-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/RobotoSlab-Light.woff2") format("woff2"),
		url("../fonts/RobotoSlab-Light.woff") format("woff"),
		url("../fonts/RobotoSlab-Light.ttf") format("truetype"),
		url("../fonts/RobotoSlab-Light.svg#RobotoSlab-Light") format("svg");
}