@font-face {
	font-family: "Inter UI";
	font-weight: 900;
	src: url("../fonts/Inter-UI-Black.woff") format("woff"),
			url("../fonts/Inter-UI-Black.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka";
	font-weight: 300;
	src: url("../fonts/iosevka-light.woff") format("woff"),
			url("../fonts/iosevka-light.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka";
	font-weight: 300;
	font-style: italic;
	src: url("../fonts/iosevka-lightitalic.woff") format("woff"),
			url("../fonts/iosevka-lightitalic.woff2") format("woff2");
}