@mixin section {
	padding: $section-padding 0;
}

@mixin heading {
	color: $dark-black;

	&::selection {
		background-color: $dark-black;
		color: $white;
	}
}

@mixin link {
	text-decoration: none;
	color: $blue;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&:visited {
		color: $purple;
	}

	&::selection {
		color: currentColor;
	}
}
