.border {
	position: fixed;
	z-index: 1000;
	background-color: $color;

	// Top and bottom borders.
	&:nth-of-type(odd) {
		width: 100vw;
		height: calc(#{$page-margin} + #{$border-width});

		&::after {
			content: "";
			position: fixed;
			left: $page-margin;
			width: calc(100% - #{$page-margin} * 2);
			height: $border-width;
			background-color: invert($color);
		}
	}

	// Right and left borders.
	&:nth-of-type(even) {
		width: calc(#{$page-margin} + #{$border-width});
		height: 100vh;

		&::after {
			content: "";
			position: fixed;
			top: $page-margin;
			width: $border-width;
			height: calc(100% - #{$page-margin} * 2);
			background-color: invert($color);
		}
	}

	// Top border.
	&:nth-of-type(1) {
		top: 0;

		&::after {
			top: $page-margin;
		}
	}

	// Right border.
	&:nth-of-type(2) {
		right: 0;

		&::after {
			right: $page-margin;
		}
	}

	// Bottom border.
	&:nth-of-type(3) {
		bottom: 0;

		&::after {
			bottom: $page-margin;
		}
	}

	// Left border.
	&:nth-of-type(4) {
		left: 0;

		&::after {
			left: $page-margin;
		}
	}
}


%title {
	font-family: $primary-font;
	font-weight: 700;
	text-transform: uppercase;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100%;
	padding: calc(1.75em + #{$page-margin}) calc(1em + #{$page-margin}) calc(1.75em + #{$page-margin}) calc(2em + #{$page-margin});

	.page-header {
		@extend %title;
		align-self: flex-start;
		padding: .05em .15em;
		margin-bottom: 2rem;
	}

	.page-body {
		font-family: $secondary-font;
	
		*, *::before, *::after {
			font-family: inherit;
		}
	}

	.tag {
		display: inline-block;
		margin: .1em 0;
		padding: .175em .2em;
		font-family: $secondary-font;
		font-size: .8em;
		font-weight: 500;
	}

	&:nth-of-type(odd) {
		background-color: $color;

		.page-header{
			background-color: invert($color);
			color: $color;
		}

		.page-body {
			color: invert($color);
		}

		.tag {
			background-color: invert($color);
			color: $color;
		}
	}

	&:nth-of-type(even) {
		background-color: invert($color);

		.page-header{
			background-color: $color;
			color: invert($color);
		}

		.page-body {
			color: $color;
		}

		.tag {
			background-color: $color;
			color: invert($color);
		}
	}
}