@import "~normalize.css/normalize";

$white: whitesmoke;
$brown: #3b3535;
$gray: #777;
$blue: #2f3bcc;

/* Modifies the box model to include padding as part of elements" width and height. */
html {
	box-sizing: border-box;
	background-color: $white;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

::selection {
	background-color: yellow;
}

body {
	// Flexbox could be used for vertical and horizontal center positioning
	// (and would be easier to understand), but IE 9 does not support it.
	position: absolute;
	right: 50%;
	bottom: 50%;

	transform: translate(50%, 50%);

	border-radius: 2px;
	box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.025);
	padding: 3em 3em;
	width: 25em;
	background-color: white;

	// W3C accessibility guidelines recommend at least 1.5 line height.
	// See: http://www.w3.org/TR/2008/REC-WCAG20-20081211/#visual-audio-contrast-visual-presentation
	// See: https://ux.stackexchange.com/a/35275
	line-height: 1.5;

	// Improves font rendering on non-Webkit browsers (smooths jagged edges).
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-kerning: auto;
	font-size: calc(0.5em + 1vmin);

	color: $brown;
}
