@import "~normalize.css/normalize";
@import "fonts";

$mobile: 768px;
$tablet: 769px;
$desktop: 1024px;
$widescreen: 1216px;
$fullhd: 1408px;

$black: #222;
$gray: lighten($black, 55%);
$white: whitesmoke;

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	padding-top: 12.5%;
	padding-left: 17.5%;
	background-color: $white;

	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	
	font-kerning: auto;
	font-family: "Iosevka", monospace;
	font-size: calc(.625em + 1vmin);
	
	color: $black;
}