@import "~normalize.css/normalize";
@import "./_resolutions";
@import "./_colors";

/* Modifies the box model to include padding as part of elements" width and height. */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	max-width: 35em;
	margin: 0 auto;
	padding: 12.5vmin 1em;
	background-color: $white;

	// Improves font rendering on non-Webkit browsers (smooths jagged edges).
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: calc(1em + 0.5vmin);
	font-kerning: auto;
	color: $light-black;
}

@media (min-width: $widescreen) {
	body {
		margin-right: 0;
		margin-left: 25vmin;
	}
}

::selection {
	background-color: $light-black;
	color: $white;
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}
