@import "~normalize.css/normalize";
@import url(//cdn.jsdelivr.net/npm/hack-font/build/web/hack.css);
@import url(https://fonts.googleapis.com/css?family=Heebo:300,400);

$gray: #222;
$white: whitesmoke;
$green: #53FABA;
$purple: #d853fa;

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background-color: $white;
	
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: auto;
	font-size: calc(.625em + 1vmin);
}