@import "~normalize.css/normalize";
@import url(//cdn.jsdelivr.net/npm/hack-font/build/web/hack.css);

$mobile: 768px;
$tablet: 769px;
$desktop: 1024px;
$widescreen: 1216px;
$fullhd: 1408px;

$black: #333;

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

::selection {
	background-color: yellow;
}

body {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: auto;
	font-family: "Hack", monospace;
	font-size: calc(.45em + 1vmin);
	color: $black;
}

a {
	outline: none;
	text-decoration: none;
	color: blue;

	&:hover, &:active, &:focus {
		background-color: yellow;
		color: currentColor;
	}
}