@import "~normalize.css/normalize";

$white: whitesmoke;
$black: #333;
$gray: #777;
$blue: #2f3bcc;

/* Modifies the box model to include padding as part of elements' width and height. */
html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

::selection {
	background-color: yellow;
}

body {
	// Flexbox could be used for vertical and horizontal center positioning
	// (and would be easier to understand), but IE 9 does not support it.
	position: absolute;
	right: 50%;
	bottom: 50%;

	transform: translate(50%, 50%);

	width: 20em;
	background-color: $white;

	line-height: 1.5;

	// Improves font rendering on non-Webkit browsers (smooths jagged edges).
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-kerning: auto;
	font-size: calc(.5em + 1vmin);

	color: $black;
}