@import "./variables";
@import "./mixins";

body {
	max-width: 35.5em;
	margin: 0 auto;
	padding: 10vmin 1em;
	background-color: $white;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: calc(1em + 0.5vmin);
	color: $light-black;
	quotes: "“" "”" "‘" "’";
}

@media (min-width: $widescreen) {
	body {
		margin-right: 0;
		margin-left: 25vmin;
	}
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}
