@import "~normalize.css/normalize";
@import url(//cdn.jsdelivr.net/npm/hack-font/build/web/hack.css);

@font-face {
	font-family: "Inter UI";
	font-weight: 700;
	src: url("../fonts/Inter-UI-Bold.woff") format("woff"),
			url("../fonts/Inter-UI-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Inter UI";
	font-weight: 500;
	src: url("../fonts/Inter-UI-Medium.woff") format("woff"),
			url("../fonts/Inter-UI-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Inter UI";
	font-weight: 400;
	src: url("../fonts/Inter-UI-Regular.woff") format("woff"),
			url("../fonts/Inter-UI-Regular.woff2") format("woff2");
}

$white: #f5f5f5;
$blue: #0a2b4e;
$gray: #222222;

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	padding: 10.5em 27.5em;
	background-color: $white;
	
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: auto;
	font-family: "Inter UI", sans-serif;
	font-size: calc(.625em + 1vmin);
	color: $gray;
}

a {
	outline: none;
}