$mobile: 768px;
$tablet: 769px;
$desktop: 1024px;
$widescreen: 1216px;
$fullhd: 1408px;

$background-black: #111;
$overlay-black: rgba(black, 0.25);
$heading-white: #f5f5f5;
$primary-white: #aaa;
$secondary-white: #777;

$vertical-page-padding: 32vh;
$horizontal-page-padding-mobile: 6.65%;
$horizontal-page-padding-desktop: 18%;
$minimum-project-width: 320px;
