$mobile: 768px;
$tablet: 769px;
$desktop: 1024px;
$widescreen: 1216px;
$fullhd: 1408px;

$dark-black: #111;
$light-black: #222;

$gray: #eee;
$off-white: #fafafa;
$white: white;

$blue: #6bf;
$purple: #666eff;

$section-padding: 2em;
$heading-margin: 1em;
