@import "./_reset";

$section-padding: 2.75em;

@mixin section {
	padding: $section-padding 0;
}

$heading-margin: 1em;

@mixin heading {
	margin: 0;
	margin-bottom: $heading-margin;

	color: $dark-black;

	&::selection {
		background-color: $dark-black;
		color: $white;
	}
}

@mixin link {
	text-decoration: none;
	color: $blue;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&:visited {
		color: #666eff;
	}

	&::selection {
		color: currentColor;
	}
}

.header {
	@include section;
}

.header__introduction {
	@include heading;
}

.header__about {
	margin: 0;
	line-height: 1.5;

	&::selection,
	::selection {
		background-color: $light-black;
		color: $off-white;
	}
}

.header__link {
	@include link;
}

.showcase {
	@include section;
}

.showcase__title {
	@include heading;
	font-size: 1.5em;
}

.showcase-items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.showcase-item {
	&:not(:last-of-type) {
		border-bottom: 1px solid $gray;
	}

	&::selection,
	::selection {
		background-color: $light-black;
		color: $off-white;
	}
}

.showcase-item__link {
	transition: 0.15s all ease;

	position: relative;
	z-index: 0;

	display: flex;
	align-items: center;

	padding: 0.5em 0;
	width: 100%;
	height: 100%;

	text-decoration: none;
	color: inherit;

	&:hover {
		transition: 0.15s all ease;

		z-index: 1;
	}

	&:focus {
		transition: 0.15s all ease;

		z-index: 2;
	}

	&::before {
		transition: 0.15s all ease;

		content: "";

		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;

		border-radius: 5px;
		width: 100%;
		height: 100%;
		background-color: $white;
	}

	&:hover::before,
	&:focus::before {
		transition: 0.15s all ease;

		box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
		transform: scale(1.1, 1.075);
	}

	&:active::before {
		transition: 0.15s all ease;

		box-shadow: 0 0 25px rgba(0, 0, 0, 0.035);
		transform: scale(1.05, 1.025);
	}
}

.showcase-item__emoji {
	font-size: 1.5em;
}

.showcase-item__text {
	margin-left: 1em;
	line-height: 1.35;
}

.showcase-item__name {
	font-weight: 600;
}

.showcase-item__description {
	display: inline-block;

	font-size: 0.9em;
}

.footer {
	@include section;
}

.footer__text {
	line-height: 1.5;
}

.footer__link {
	@include link;
}

.footer__copyright {
	font-weight: 600;
}
