#name {
	text-align: center;
	font-family: "Source Code Pro", monospace;
	font-size: 45pt;
}

.icon {
	display: inline-block;
	width: 5rem;
	height: 5rem;
	padding: 0 1.5rem 0 1.5rem;
}

.icon > img {
	max-width: 100%;
	max-height: 100%;
	color: #181717;
}