@import "~normalize.css/normalize";
@import url(https://fonts.googleapis.com/css?family=Heebo:400,700);
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

$heebo: Heebo, sans-serif;
$questrial: Questrial, sans-serif;
$roboto: Roboto, sans-serif;

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	font-family: sans-serif;
}

html, body {
	height: 100%;
}

$page-margin: .75rem;
$page-color: white;
$border-width: 4px;
$border-color: black;

.border {
	position: fixed;
	z-index: 1000;
	background-color: $page-color;

	// Top and bottom borders.
	&:nth-of-type(odd) {
		width: 100vw;
		height: calc(#{$page-margin} + #{$border-width});

		&::after {
			content: "";
			position: fixed;
			left: $page-margin;
			width: calc(100% - #{$page-margin} * 2);
			height: $border-width;
			background-color: $border-color;
		}
	}

	// Right and left borders.
	&:nth-of-type(even) {
		width: calc(#{$page-margin} + #{$border-width});
		height: 100vh;

		&::after {
			content: "";
			position: fixed;
			top: $page-margin;
			width: $border-width;
			height: calc(100% - #{$page-margin} * 2);
			background-color: $border-color;
		}
	}

	// Top border.
	&:nth-of-type(1) {
		top: 0;

		&::after {
			top: $page-margin;
		}
	}

	// Right border.
	&:nth-of-type(2) {
		right: 0;

		&::after {
			right: $page-margin;
		}
	}

	// Bottom border.
	&:nth-of-type(3) {
		bottom: 0;

		&::after {
			bottom: $page-margin;
		}
	}

	// Left border.
	&:nth-of-type(4) {
		left: 0;

		&::after {
			left: $page-margin;
		}
	}
}

%page {
	height: 100%;
	padding: calc(1.5rem + #{$page-margin}) calc(1rem + #{$page-margin}); 
}

@keyframes slide {
	0% {
		transform: translateY(-1rem);
	}

	100% {
		visibility: visible;
		opacity: 1;
		transform: scaleY(1rem);
	}
}

%slide {
	visibility: hidden;
	opacity: 0;
	transform: translateY(0);
	animation: slide 1.5s forwards;
}

.landing {
	@extend %page;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.landing-title {
	@extend %slide;
	margin: 0;
	font-family: $heebo;
	font-weight: 700;
	text-transform: uppercase;
}

.landing-subtitle {
	@extend %slide;
	animation-delay: .1s;
	font-family: $questrial;
}

.showcase {
	@extend %page;
}

.showcase-title{
	margin: 0 0 $page-margin 0;
	font-family: $heebo;
	font-weight: 700;
	text-transform: uppercase;
}

.showcase-grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.showcase-item {
	text-align: right;

	&:not(:first-of-type()) {
		margin-top: $page-margin;
	}

	&:not(:last-of-type()) {
		margin-bottom: $page-margin;
	}

	.name {
		font-family: $questrial;
	}

	.description {
		margin: 2.5em 0;
		font-family: $roboto;
		font-size: .95em;
	}

	.tag {
		border: 2px solid gray;
		padding: 2px 3px;
		font-family: $roboto;
		font-size: .8em;
	}
}