@import "./_reset";

@mixin selection($text-color, $background-color) {
	&::selection {
		background-color: $background-color;
		color: $text-color;
	}
}

.about {
	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 100vh;
	padding: 15vmax 5vmin;
}

.about__caricature {
	height: 45vmin;

	> img {
		height: 100%;
	}
}

.about__content {
	margin-left: 7.5%;
	max-width: 14.5em;

	&::after {
		content: " |\A\\/";
		
		position: absolute;

		margin-top: 1.75em;

		white-space: pre;
		
		font-family: $sans;
		font-weight: 900;
		color: $white;
	}
}

.about__heading {
	margin: 0;

	text-transform: uppercase;
	font-family: $sans;
	font-weight: 900;
}

// Although this is technically a semantic heading and accessible by screen readers (hence being its own element and not a psuedo-element)
// it shouldn't be selectable because it is intended to be behind the name part of the heading and purely visual.
.about__heading--title {
	user-select: none;

	position: relative;
	z-index: -1;
	top: .45em;
	
	color: $white;
}

.about__heading--name {
	font-size: 1em;
	@include selection($black, yellow);
}

.about__description {
	margin-top: .75em;

	line-height: 1.5;
	font-family: $roboto-slab;
	font-size: .8em;
	font-weight: 300;

	@include selection($black, yellow);
}