@import "~normalize.css/normalize";

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	font-family: sans-serif;
}

html, body {
	height: 100%;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	padding: .75rem;
}

.page-head {
	&.title {
		margin-top: auto;
		font-size: 1.5rem;
	}

	&.heading {
		font-size: 1.25rem;
	}

	h1, h2 {
		margin: 0;
	}
}

.page-body {
	margin-top: auto;
	margin-bottom: auto;
}

.page-foot {
	.page-head + & {
		margin-top: auto;
	}

	a {
		font-weight: bold;
	}
}

.tag {
	position: relative;
	top: -.75em;
	padding: .5em;
	border-radius: 3px;
	background-color: gray;
	font-size: .35em;

	&:not(:last-of-type) {
		margin-right: .25em;
	}
}