@import "./reset";

@mixin selection($background, $text) {
	&::selection {
		background-color: $background;
		color: $text;
	}
}

.ie {
	position: relative;
	
	width: 100%;
	height: 100%;
	overflow: hidden;

	&::before {
		content: "This website (and Microsoft) does not support Internet Explorer versions earlier than 9. Please upgrade your browser.";

		position: absolute;
		top: 50%;

		width: inherit;
		height: inherit;
		padding: 0 5em;

		text-align: center;
		font-family: "Iosevka", monospace;
		font-weight: 900;
	}

	body {
		display: none;
	}
}

.banner {
	font-weight: 900;
}

.banner__name {
	margin: 0;

	text-transform: uppercase;
	font-size: 4.5em;

	&::selection, ::selection {
		text-shadow: 5px 5px 0px $gray;
	}
}

// IE10+ detection because IE does not support text-shadow changes for the ::selection selector
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.banner__name {
		&::selection, ::selection {
			background-color: $gray;
		}
	}
}

.banner__last-name {
	padding-left: .75em;
}

.bio {
	max-width: 21.5em;
	margin-top: 3.5em;
}

.bio__about {
	margin: 0;
	margin-bottom: 3em;
	line-height: 1.75;
	font-size: .8em;
	font-weight: 200;

	&::selection, ::selection {
		background-color: $gray;
	}
}

.bio__link {
	color: inherit;
}

.bio__action {
	padding: .5em 1.5em;
	box-shadow: 3px 3px 0px $gray;
	background-color: $black;

	text-transform: uppercase;
	text-decoration: none;
	font-size: .675em;
	font-weight: 400;
	color: $white;

	&:not(:last-of-type) {
		margin-right: 2.5em;
	}

	&:hover:not(.bio__action--disabled), &:active:not(.bio__action--disabled), &:focus:not(.bio__action--disabled) {
		position: relative;
		top: -1px;

		box-shadow: 4px 5px 0px $gray;
	}
}

.bio__action--disabled {
	cursor: not-allowed;

	box-shadow: none;
	background-color: lighten($black, 45%);
	
	text-decoration: line-through;
}

@media (min-width: $tablet) {
	body {
		padding-left: 17.5%;
	}

	.banner__name {
		font-size: 7em;
	}

	.bio {
		max-width: 33.25em;
	}
}