@import "./_reset";

.heading {
	margin-bottom: 5em;
}

.heading__icon {
	// As this is intended to be an icon and not an image,
	// it should not draggable or selectable.
	pointer-events: none;
	user-select: none;
	display: none;
	width: 1.5em;
}

.heading__introduction {
	font-size: 1em;
	font-weight: 400;
}

.heading__name {
	font-weight: 600;
}

.projects__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.project {
	&:not(:last-of-type) {
		margin-bottom: 1em;
	}
}

.project__name {
	font-weight: 600;
}

.project__link {
	position: relative;
	
	text-decoration: none;
	color: inherit;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;

		width: 100%;
		height: 1px;
		background-color: $blue;
	}
}

.contact {
	margin-top: 5em;
}

.contact__email {
	position: relative;

	display: inline-block;

	text-decoration: none;
	font-weight: 600;
	color: inherit;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;

		opacity: 0;
		width: 100%;
		height: 1px;
		background-color: $blue;
	}

	&:hover::before {
		opacity: 1;
	}
}