
@import "./reset";
@import "./page";
@import "./animations";

.landing {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.landing-title {
		@extend %slide;
		@extend %title;
		font-size: 2.5em;
		color: invert($color);
	}

	h2 {
		@extend %slide;
		animation-delay: .1s;

		.tag {
			padding: .175em .4em;
			font-size: .65em;
		}
	}
}

.showcase-grid {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.showcase {
		margin: 1em 0;

		.showcase-description {
			margin: 2.25em 0;
			font-size: .9em;
		}
	}
}

.bio {
	line-height: 1.25;

	.bio-description {
		margin-bottom: 2.5em;
	}

	.bio-set:not(:last-of-type()) {
		margin-bottom: 1.25em;
	}
}