@import "./reset";

@mixin selection($background, $text) {
	&::selection {
		background-color: $background;
		color: $text;
	}
}

.banner__name, .banner__branding {
	margin: 0;
}

.banner__name {
	margin-bottom: .35em;

	font-size: 5.75vmax;
	font-weight: 900;
}

.banner__branding {
	margin-bottom: 2em;
	font-size: 1em;
	font-weight: 300;
}

.bio {
	font-weight: 300;
}

.bio__about {
	margin-bottom: 3.5em;

	line-height: 1.75;
	font-size: .75em;
}

.bio__link {
	transition: .25s all ease;

	padding: .65em 2em;
	background-color: $black;

	text-transform: uppercase;
	text-decoration: none;
	font-size: .575em;
	font-weight: 400;
	color: $white;

	&:not(:last-of-type) {
		margin-right: 3em;
	}

	@include selection($white, $black);

	&:hover {
		transition: .25s all ease;
		background-color: lighten($black, 25%);
	}
}

@media (min-width: $tablet) {
	body {
		width: 55%
	}

	.banner__name {
		font-size: 6.75vmax;
	}
}

@media (min-width: $widescreen) {
	.bio__about {
		max-width: 65%;
	}
}