@import "./reset";
@import url(https://fonts.googleapis.com/css?family=Cabin);

.emoji {
	margin: 0;
	padding-top: 6em;
	padding-bottom: 4em;

	img {
		pointer-events: none;
		user-select: none;
		outline: none;
		width: 3em;
	}

	figcaption {
		margin-top: .5em;
	}
}

.emoji--condensed {
	padding: 0;
}

.banner {
	cursor: vertical-text;

	position: fixed;
	bottom: 0;
	left: 0;

	display: none;

	transform: translateY(100%) rotate(-90deg);
	transform-origin: top left;
	width: 100vh;
	margin: 0;
	padding: 1.25em;

	font-size: 1em;
	font-weight: normal;
}

@media (min-width: 1008px) {
	.banner {
		display: block;
	}
}

.important-link {
	border-bottom: 2px solid $accent-color;
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style-type: none;

	& > * {
		flex: 1;
	}
}