@import "./reset";

// TODO: Clean up.

.page {
	display: none;
	flex-direction: column;
	justify-content: center;
	
	height: calc(100vh - #{$navbar-height});
	margin-bottom: $navbar-height;
	padding: 2em 1.75em 0;
	
	color: invert($color);
	font-family: $body-font;
}

.page--active {
	display: flex;
}

.section {
	margin: 0;

	&:not(:last-of-type) {
		margin-bottom: 2em;
	}
}

.section__header {
	margin: 0 0 .25em;
	font-size: inherit;
}

.section__content {
	margin: 0 0 .5em;
	line-height: 1.5;
}

.section__link {
	color: inherit;

	&:not(:last-of-type) {
		margin-right: .25em;
	}
}

.section__notes {
	line-height: 1.5;
}

.navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: $navbar-height;
}

.navbar__item {
	display: flex;
	justify-content: center;
	margin: 0 .5em;
	padding: .15em .3em;
	
	cursor: pointer;

	text-transform: uppercase;
	color: invert($color);
	font-family: $navbar-font;
	font-size: 1.25em;
}

.navbar__item--active {
	background-color: invert($color);
	color: $color;
}

.navbar__link {
	text-decoration: none;
	color: inherit;
}