@import "./_reset";

@mixin link {
	text-decoration: none;
	color: inherit;
}

.header__introduction {
	line-height: 1.75;
}

.header__heading {
	margin-bottom: 0.75em;
	color: $dark-black;
}

.showcase {
	padding: 2.25em 0;
}

.showcase__heading {
	font-size: 1.35em;
	color: $dark-black;
}

.showcase-items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.showcase-item {
	&:not(:last-of-type) {
		border-bottom: 1px solid $gray;
	}
}

.showcase-item__link {
	transition: 0.15s all ease;

	position: relative;
	z-index: 0;

	display: flex;
	align-items: center;

	padding: 0.5em 0;
	width: 100%;
	height: 100%;

	@include link;

	&:hover {
		transition: 0.15s all ease;

		z-index: 1;
	}

	&:focus {
		transition: 0.15s all ease;

		z-index: 2;
	}

	&::before {
		transition: 0.15s all ease;

		content: "";

		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;

		border-radius: 5px;
		width: 100%;
		height: 100%;
		background-color: $white;
	}

	&:hover::before,
	&:focus::before {
		transition: 0.15s all ease;

		box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
		transform: scale(1.1, 1.075);
	}

	&:active::before {
		transition: 0.15s all ease;

		box-shadow: 0 0 25px rgba(0, 0, 0, 0.035);
		transform: scale(1.05, 1.025);
	}
}

.showcase-item__emoji {
	font-size: 1.5em;
}

.showcase-item__text {
	margin-left: 1em;
	line-height: 1.35;
}

.showcase-item__name {
	font-weight: 600;
}

.showcase-item__description {
	display: inline-block;

	font-size: 0.9em;
}

.contact {
	padding-top: 2.25em;
}

.contact__text {
	font-size: 2em;
}

.contact__link {
	transition: 0.15s all ease;

	position: relative;

	display: inline-block;

	@include link;

	&::before {
		transition: 0.15s all ease;

		content: "";

		position: absolute;
		bottom: -20%;
		left: 0;

		width: 0;
		height: 3px;
		background-color: $dark-black;
	}

	&:active {
		transition: 0.15s all ease;
		top: 1px;
	}

	&:hover::before,
	&:focus::before {
		transition: 0.15s all ease;
		width: 100%;
	}
}

.contact__email {
	font-weight: 700;
	color: $dark-black;
}
