@import "./_reset";

@mixin link {
	text-decoration: none;
	color: inherit;
}

.header__introduction {
	line-height: 1.75;
	font-weight: 300;
}

.header__name {
	font-weight: 400;
}

.showcase {
	padding: 2.25em 0;
}

.showcase__heading {
	font-size: 1.25em;
	font-weight: 600;
}

.showcase-items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.showcase-item {
	&:not(:last-of-type) {
		border-bottom: 1px solid #eee;
	}
}

.showcase-item__link {
	position: relative;
	z-index: 0;

	display: flex;
	align-items: center;

	padding: 0.5em 0;
	width: 100%;
	height: 100%;

	@include link;

	&:hover,
	&:focus {
		z-index: 1;
		color: black;
	}

	&::before {
		transition: 0.15s all ease;

		content: "";

		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;

		border-radius: 5px;
		width: 100%;
		height: 100%;
		background-color: white;
	}

	&:hover::before,
	&:focus::before {
		transition: 0.15s all ease;

		box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
		transform: scale(1.1, 1.075);
	}
}

.showcase-item__emoji,
.showcase-item__text {
	display: inline-block;
	vertical-align: middle;
}

.showcase-item__emoji {
	font-size: 1.5em;
}

.showcase-item__text {
	margin-left: 1em;
}

.showcase-item__name {
	font-weight: 400;
}

.showcase-item__description {
	display: inline-block;
	margin-top: 0.25em;

	font-size: 0.9em;
	font-weight: 300;
}

.contact {
	padding-top: 2.25em;
}

.contact__text {
	font-size: 2em;
}

.contact__link {
	position: relative;

	display: inline-block;

	@include link;

	&::before {
		transition: 0.15s all ease;

		content: "";

		position: absolute;
		bottom: -20%;
		left: 0;

		width: 0;
		height: 3px;
		background-color: black;
	}

	&:hover {
		color: black;
	}

	&:hover::before {
		transition: 0.15s all ease;
		width: 100%;
	}
}

.contact__email {
	font-weight: 700;
}
