@import "./reset";

header {
	position: relative;
	left: 50%;

	transform: translateX(-50%);

	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	height: 45vh;

	text-transform: uppercase;
	font-size: .8em;

	h1, h2 {
		margin: 0;
		font-weight: normal;
	}

	h1 {
		user-select: none;

		box-shadow: inset 0px 0px 0px 2px #222;
		margin: 0;
		padding: 1.35em 1em;

		&:hover, &:focus {
			box-shadow: inset 0px 0px 0px 10px #222;
		}
	}

	h2 {
		margin-top: .75em;
		font-size: 1.25em;
		letter-spacing: .025em;
	}
}

main {
	position: relative;
	left: 50%;
	
	transform: translateX(-50%);
	
	width: calc(45 * (1vw + 1vh - 1vmin)); // Support for vmax units in IE
	width: 45vmax;

	line-height: 2;

	h1 {
		font-size: 1em;
	}

	section:not(:last-of-type) {
		margin-bottom: 10em;
	}
}

ul {
	padding: 0;
	list-style: none;
}

a {
	outline: none;
	text-decoration: none;
	color: blue;

	&:hover, &:focus {
		background-color: yellow;
		color: currentColor;
	}
}

// Fallback for browsers older than IE 10.
.ie {
	position: relative;
	
	width: 100%;
	height: 100%;
	overflow: hidden;

	&::before {
		content: "This website (and Microsoft) does not support Internet Explorer versions earlier than 10. Please upgrade your browser.";
		position: absolute;
		top: 50%;

		width: inherit;
		height: inherit;
		padding: 0 5em;

		text-align: center;
		font-family: "Hack", sans-serif;
		font-weight: 400;
	}

	> * {
		display: none;
	}
}