@import "./_reset";

@mixin selection($text-color, $background-color) {
	&::selection {
		background-color: $background-color;
		color: $text-color;
	}
}

.about {
	height: 100vh;
	padding: 7.5% 15%;
}

.about__caricature, .about__content {
	display: inline-block;
	vertical-align: middle;
}

.about__caricature {
	height: 65vh;

	> img {
		height: 100%;
	}
}

.about__content {
	margin-left: 7.5%;
	max-width: 14.5em;

	&::after {
		content: " |\A\\/";
		
		position: absolute;

		margin-top: 1.75em;

		white-space: pre;
		
		font-family: $ibm-plex;
		font-weight: 900;
		color: $white;
	}
}

.about__heading {
	margin: 0;

	text-transform: uppercase;
	font-family: $ibm-plex;
	font-weight: 900;
}

.about__heading--title {
	user-select: none;

	position: relative;
	z-index: -1;
	top: .45em;
	
	color: $white;
}

.about__heading--name {
	font-size: 1em;
	@include selection($black, yellow);
}

.about__description {
	margin-top: .75em;

	line-height: 1.5;
	font-family: $roboto-slab;
	font-size: .8em;
	font-weight: 300;

	@include selection($black, yellow);
}