@import "./reset";

@mixin title($font-size, $shadow-size) {
	margin: 0;

	text-transform: uppercase;
	font-size: $font-size;
	font-weight: 900;

	&::selection, ::selection {
		text-shadow: $shadow-size $shadow-size 0px $gray;
	}
	
	// IE10+ detection because IE does not support text-shadow changes for the ::selection selector
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		&::selection, ::selection {
			background-color: $gray;
		}
	}
}

@mixin body($margin-bottom: false) {
	margin: 0;
	
	@if($margin-bottom) {
		margin-bottom: $margin-bottom;
	}

	line-height: 1.75;
	font-size: .8em;
	font-weight: 200;

	&::selection, ::selection {
		background-color: $gray;
	}
}

@mixin button($size) {
	padding: .5em 1.5em;
	box-shadow: 3px 3px 0px $gray;
	background-color: $black;

	text-transform: uppercase;
	text-decoration: none;
	font-size: $size;
	font-weight: 400;
	color: $white;

	&:not(:last-of-type) {
		margin-right: 2.5em;
	}

	&:hover {
		position: relative;
		top: -1px;

		box-shadow: 4px 5px 0px $gray;
	}
}

.ie {
	position: relative;
	
	width: 100%;
	height: 100%;
	overflow: hidden;

	&::before {
		content: "This website (and Microsoft) does not support Internet Explorer versions earlier than 9. Please upgrade your browser.";

		position: absolute;
		top: 50%;

		width: inherit;
		height: inherit;
		padding: 0 5em;

		text-align: center;
		font-family: "Iosevka", monospace;
		font-weight: 900;
	}

	body {
		display: none;
	}
}

.banner {
	// In IE, flexbox vertical centering breaks the display: table hack for simulating width: min-content.
	// The position: relative and translateY method does not work either, due to viewport units.
	padding-top: calc(50vh - 50%);
	height: 100vh;
}

.banner__name {
	@include title(4.5em, 5px);
}

.banner__last-name {
	padding-left: .75em;
}

.banner__about {
	@include body(3em);
	margin-top: 3.5em;
}

.banner__action {
	@include button(.675em);
}

.showcase__title {
	@include title(2em, 3px);
	margin-bottom: 1.5em;
}

.project:not(:first-of-type) {
	margin-top: 3em;
}

.project__name {
	font-size: 1em;
	font-weight: 400;

	&::selection, ::selection {
		background-color: $gray;
	}
}

.project__description {
	@include body(1em);
}

.project__link {
	@include button(.6em);
}

@media (min-width: $tablet) {
	body {
		padding-left: 17.5%;
	}

	.banner__name {
		font-size: 7em;
	}
}