extends templates/base.pug

block head
	link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300")

block body
	main.container
		section.card
			
			.header
				hr
				img.avatar(src="img/me.jpg")
				hr
			
			.content
				h1.title= name
				h2.subtitle= position
			
			.footer
				each link in links
					a.icon.fa(class=link.icon href=link.href target="_blank")
						