extends templates/base.pug

block head
	link(rel="stylesheet" href="css/index.css")

block body
	main.container
		div
			h1#title= name
			h2#subtitle= position

			each link in links
				a.link(href=link.href)= link.text