---
import "../styles/tailwind.css";

import ConstrainedParagraph from "../components/ConstrainedParagraph.astro";
import EmailLink from "../components/EmailLink.astro";
import ExternalLink from "../components/ExternalLink.astro";
import Html from "../layouts/Html.astro";
---

<Html page="Home">
	<div class="px-6 py-12">
		<h1 class="mb-12 text-4xl tracking-tighter">
			Hello, I'm Spencer Berenson.
		</h1>

		<main class="space-y-4">
			<ConstrainedParagraph>
				I live in Connecticut with my cat, Nym, and work as a software engineer
				at
				<ExternalLink href="//desmos.com">Desmos Studio PBC</ExternalLink>.
			</ConstrainedParagraph>

			<ConstrainedParagraph>
				Check me out on
				<ExternalLink href="//linkedin.com/in/spencer-berenson"
					>LinkedIn</ExternalLink
				> or <ExternalLink href="//github.com/slbls">GitHub</ExternalLink>, or
				get in touch at <EmailLink email="spencer@berenson.dev"
					>spencer@berenson.dev</EmailLink
				>.
			</ConstrainedParagraph>
		</main>
	</div>
</Html>
