---
interface Props {
	readonly href: string;
}

const { href } = Astro.props;
const isCurrent = href === Astro.url.pathname;
---

<style>
	.current {
		@apply -rotate-2 scale-105 font-semibold;
	}

	a:not(.current) {
		@apply hover:-rotate-2 hover:scale-105 hover:text-black hover:underline;
	}
</style>

<li>
	<a href={href} class:list={["inline-block", { current: isCurrent }]}>
		<slot />
	</a>
</li>
