---
interface Props {
	readonly name: string;
	readonly initials: string;
}

const { name, initials } = Astro.props;
---

<a
	href="/"
	title={name}
	class="inline-block rounded-sm bg-slate-900 p-1.5 text-sm font-bold text-white transition-transform hover:-rotate-2 hover:scale-105 focus:-rotate-2 focus:scale-105"
>
	{initials}
</a>
