meta(charset="utf-8")
meta(content="IE=edge" http-equiv="X-UA-Compatible")
meta(
	content="width=device-width, initial-scale=1, shrink-to-fit=no"
	name="viewport"
)

//- Theme Color for Chrome, Firefox OS and Opera
meta(content="#06c" name="theme-color")

//- Short description of the document (limit to 150 characters)
//- This content *may* be used as a part of search engine results.
meta(content="Spencer Berenson — web dev / tech enthusiast" name="description")

//- Control the behavior of search engine crawling and indexing
meta(content="index,follow" name="robots")
meta(content="index,follow" name="googlebot")

//- Tells Google not to show the sitelinks search box
meta(content="nositelinkssearchbox" name="google")

//- Short description of your document"s subject
meta(content="Spencer Berenson" name="subject")

//- Gives a general age rating based on the document's content
meta(content="General" name="rating")

//- Allows control over how referrer information is passed
meta(content="no-referrer" name="referrer")

//- Disable automatic detection and formatting of possible phone numbers
meta(content="telephone=no" name="format-detection")

//- Disable automatic detection and formatting of possible phone numbers by Skype Toolbar browser extension
meta(content="skype_toolbar_parser_compatible" name="skype_toolbar")
title Spencer Berenson
