@import "./styles/root";

html {
	box-sizing: border-box;
	background-color: var(--background-color);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	padding: 1rem 0;

	background-color: var(--background-color);

	line-height: 150%;
	font-family: var(--default-font-family);
	font-weight: 300;
	quotes: "“" "”" "‘" "’";
	color: var(--text-color);
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

.content {
	max-width: var(--content-width);
	margin: 0 auto;
	padding: 2rem 1rem;
}

.content__paragraph {
	margin: 0.75rem 0;
	padding: 0;
	max-width: var(--paragraph-width);
}

.content__paragraph--introduction {
	margin-bottom: var(--vertical-spacing-margin);
	font-weight: inherit;
	font-size: inherit;
}

.content__link {
	text-decoration: none;
	font-weight: bold;
	color: var(--theme-color);

	&:hover {
		text-decoration: underline;
	}
}

.content__navigation {
	margin-top: var(--vertical-spacing-margin);
	margin-bottom: 0.75rem;

	& ul {
		margin: 0;
		padding: 0;

		list-style: none;

		& li {
			display: inline-block;
			margin-right: 0.75rem;
		}
	}
}
