extends templates/base.pug
	
mixin link(link, text, tab)
	a(href=link rel="noreferrer noopener" target=tab ? "_blank" : null)&attributes(attributes)= text

mixin projects(projects)
	dl.section__content.section__content-list
		each project in projects
			+project(project.name, project.link, project.description)

mixin project(name, link, description)
	dt.project__name
		+link(link, name, true)(class="project__link")
	dd.project__description= description

block body
	header.header
		h1.header__introduction.
			Spencer Berenson is a front-end developer and tech enthusiast from 
			Connecticut.

	main.sections
		section.section
			h1.section__name Currently
			p.section__content.
				Junior Solution Architect at All Star Software Systems

		section.section
			h1.section__name Projects
			+projects(
				[
					{
						name: "UHSSE.org",
						link: "//uhsse.org",
						description: "Redesign of my high school website."
					},
					{
						name: "Quotecord",
						link: "//github.com/bearinsun/quotecord",
						description: "Prototype self-bot quoting in Discord."
					},
					{
						name: "swear-search",
						link: "//github.com/bearinsun/swear-search",
						description: "Analyzes programming languages vs profanities."
					},
					{
						name: "type-fast",
						link: "//github.com/bearinsun/type-fast",
						description: "Simple and minimal typing practice."
					}
				]
			)
					

		section.section
			h1.section__name Contact
			ul.section__content.section__content--list
				li.contact
					+link("mailto:spencer@berenson.me", "spencer [at] berenson.me", true)(class="contact__link")

				li.contact
					+link("//github.com/bearinsun", "github.com/bearinsun", true)(class="contact__link")