@tailwind base;

@layer base {
	html,
	body {
		overflow-x: hidden;
	}
}

@tailwind components;
@tailwind utilities;

@layer utilities {
	/* https://css-tricks.com/full-browser-width-bars/ */
	.bg-full {
		margin-right: -100vw;
		padding-right: 100vw;
		margin-left: -100vw;
		padding-left: 100vw;
	}
}
