extends templates/base.pug

mixin link(link, text, tab = true)
	a(href=link rel="noreferrer noopener" target=tab ? "_blank" : null)&attributes(attributes)= text
		block

block body
	main.content
		p.content__paragraph.content__paragraph--introduction.
			Spencer Berenson — web developer and technology enthusiast

		p.content__paragraph.
			Currently, I study Computer Science at CCSU and work as a Junior Software Developer for All Star 
			Software Systems.

		p.content__paragraph.
			Here are a few of my projects: 