@import "~sanitize.css";
@import "./styles/_colors";
@import "./styles/resolutions";

@function spacing($scalar) {
	@return calc(#{$scalar}% + 56px);
}

html {
	padding: 0 3.5vh;
	text-align: center;
}

body {
	display: inline-block;
	max-width: 700px;
	padding: spacing(16.5) 0 spacing(5);

	text-align: left;
}

::selection {
	background-color: $transparent-accent;
	color: $accent;
}

.header__introduction {
	line-height: 1.5;

	font-size: 1.5em;
	font-weight: 400;
	color: $black;
}

.sections {
	margin-top: spacing(15);
}

.section {
	& + & {
		margin-top: spacing(5);
	}
}

.section__name {
	margin: 0;

	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 300;
	color: $light-gray;
}

.section__content {
	margin: 0;
	margin-top: 14px;

	color: $dark-gray;

	&--list {
		padding: 0;

		list-style: none;
	}
}

.project {
	& + & {
		margin-top: 28px;
	}
}

.project__name {
	transition: 0.1s all linear;

	border-bottom: 1px dotted currentColor;

	font-weight: inherit;

	&:hover {
		color: $accent;
	}

	& + .project__description {
		margin-top: 10px;
	}
}

.project__link {
	text-decoration: none;
	color: inherit;
}

.project__description {
	display: block;

	font-size: 0.8em;
	color: $gray;
}

.contact {
	& + & {
		margin-top: 10px;
	}
}

.contact__link {
	transition: 0.1s all linear;

	border-bottom: 1px dotted currentColor;

	text-decoration: none;
	color: inherit;

	&:hover {
		color: $accent;
	}
}

@media (min-width: $mobile) {
	html {
		padding: 0 10vh;
	}
}

@media (min-width: $desktop) {
	.section {
		display: flex;
		justify-content: space-between;
	}

	.section__content {
		flex-basis: 72.5%;
		margin-top: 0;
	}
}
