@import "./styles/variables";
@import "./styles/mixins";

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	@include default-font-family;
	quotes: "“" "”" "‘" "’";
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}
